@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}
  
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    color: #333333;
    background-color: #f2f2f2;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
}

.page__body {
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

/*Header*/
.navigation {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.navigation__logo {
    position: relative;
    z-index: 1;
    margin-right: 30px;
    margin-bottom: -10px;
}

.navigation__image {
    display: block;
}

.navigation__list {
    width: 345px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation-link {
    display: block;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding: 20px 17px;
    text-decoration: none;
}

.navigation__link--current {
    text-decoration: underline 2px solid #756257;
    text-underline-offset: 24px;
}

.user {
    width: 264px;
    margin-left: auto;
}

.user__link {
    display: block;
    padding: 22px 12px;
}

.navigation__button {
    margin-left: 18px;
    align-self: center;
}

.user__button {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 15px;
    border-radius: 4px;
    width: 160px;
    display: block;
}

/*Main*/
.page__main {
    flex-grow: 1;
}

.main__promo {
    min-height: 485px;
    background-color: #83B3D3;
    background: 
    url("../images/welcome.svg") top 51px center no-repeat,
    url("../images/background/divider.svg") bottom no-repeat,
    url("../images/background/promo.jpg") 100% no-repeat;
}

.advantages {
    text-align: center;
}

.advantages__content {
    padding: 63px 240px 83px;
}

.section-title {
    margin: 0;
    margin-bottom: 36px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}
  
  .section-description {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
}

.advantsges__list {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    width: 400px;
    min-height: 384px;
    text-align: center;
}

.list__item:nth-child(1),
.list__item:nth-child(7) {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.list__item:nth-child(8),
.list__item:nth-child(10) {
    background-color: rgba(131, 179, 211, 0.12);
}

.list__item:nth-child(9) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
    padding-top: 97px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.list__item-house .advantages-title,
.list__item-food .advantages-title,
.list__item-present .advantages-title {
    padding-top: 184px;
    margin-bottom: 20px;
}

.list__item-house {
    background-image: url("../images/icons/house.svg");
    background-repeat: no-repeat;
    background-position: top 89px center;
    background-color: rgba(131, 179, 211, 0.12);
}

.list__item-food {
    background-image: url("../images/icons/food.svg");
    background-repeat: no-repeat;
    background-position: top 89px center;
}

.list__item-present {
    background-image: url("../images/icons/present.svg");
    background-repeat: no-repeat;
    background-position: top 89px center; 
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-text {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-img {
    display: block;
}

.advantages-number {
    margin-bottom: 30px;
}

/*Search*/
.search {
    min-height: 417px;
    text-align: center;
    padding-top: 92px;
}

.search-title {
    margin: 0;
    margin-bottom: 29px;
}

.search-description {
    margin: 0;
    margin-bottom: 56px;
}

.search-button {
    display: block;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 10px;
    width: 576px;
}

/*Subscribe*/
.subscribe {
    min-height: 411px;
    padding: 95px 200px 80px;
    text-align: center;
    background-color: #83B3D3;
    color: #FFFFFF;
    background-image: url("../images/background/subscribe.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.subscribe-title {
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 29px;
}

.subscribe-description {
    margin: 0;
    margin-bottom: 46px;
}

.subscribe-form {
    display: flex;
}

.subscribe-form__input {
    width: 600px;
    min-height: 60px;
    padding: 17px 22px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0 0 10px;
}

.subscribe-form__button {
    width: 200px;
    min-height: 35px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #83B3D3;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

/*Footer*/
.page__footer {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 26px 62px 30px 55px;
}

.social {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.social__link {
    padding: 10px 16px;
}

.social__icon {
    fill: #83B3D3;
}

.footer-phone {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color:#000000;
}

.footer-developer {
    padding: 10px;
    align-self: center;
}

/*Catalog*/
.filter-hotels {
    background-color: #83B3D3;
    color:#FFFFFF;
    min-height: 408px;
    padding: 33px 71px 73px;
    background-image: url("../images/background/filter.jpg");
}

.filter-hotels__title {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
/*Breadcrumbs*/
.breadcrumbs {
    list-style-type: none;
    margin: 0;
    margin-top: -5px;
    margin-left: 1px;
    padding: 0;
    display: flex;
    position: relative;
}

.breadcrumbs__link {
    display: block;
}

.breadcrumbs__link-icon {
    margin-right: 27px;
}

.breadcrumbs__link-icon::after {
    content: url("../images/icons/chevron-right.svg");
    width: 5px;
    height: 8px;
    position: absolute;
    left: 25px;
}

.breadcrumbs__link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

/*Filter form*/
.filer-hotels__form {
    margin-top: 42px;
    display: flex;
}

.form-group {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
}

.form-group__label {
    position: relative;
}

.form-group:first-child {
    margin-right: 67px;
}

.control-mark {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    background-color: #FFFFFF;
    border-radius: 4px;
    top: 2px;
    left: 2px;
}

.control-radio {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 2px;
    left: 2px;
}

.input-checkbox[type="checkbox"]:checked + .control-mark::before {
    content: url("../images/icons/check.svg");
    position: absolute;
    left: 20%;
    top: -2px;
    width: 12px;
    height: 10px;
}

.input-radio[type="radio"]:checked + .control-radio::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    left: 25%;
    top: 4px;
}

.form-group__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.form-group__name {
    display: block;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: 40px;
    margin-bottom: 13px;
}

/*Range*/

/*Rane input*/
.range {
    width: 288px;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 168px;
}

.range__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 37px;
}

.range__fields {
    display: flex;
    margin-bottom: 28px;
}

.range-field {
    position: relative;
}

.range-input {
    padding: 14px 19px;
    width: 143px;
    height: 48px;
    background: transparent;
    border: 2px solid #FFFFFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-left {
    border-radius: 4px 0 0 4px;
}

.input-right {
    border-radius: 0 4px 4px 0;
}

.range-title {
    position: absolute;
    opacity: 0.3;
    transform: translateX(-30px) translateY(10px);
}

/*Range slider*/
.range-slider {
    width: 287px;
    height: 4px;
    background-color: grey;
    opacity: 0,6;
}

.slider-bar {
    width: 227px;
    height: 4px;
    background-color: #FFFFFF;
    position: relative;
}

.slider-thumb {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: -9px;
}

.slider-thumb:nth-child(2) {
    transform: translateX(218px);
}

/*Filter buttons*/
.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

.filter-submit {
    width: 160px;
    padding: 13px 15px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-top: 56px;
    margin-bottom: 15px;
}

.filter-reset {
    padding: 5px 10px;
    width: 160px;
    border: none;
    background: transparent;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

/*Catalog sort*/
.catalog__sort {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 53px;
}

.sort-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
}

.sort-form {
    margin-left: auto;
    margin-right: 81px;
}

.sort-input {
    width: 287px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    background-color: #FFFFFF;
    padding: 12px 19px;
    appearance: none;
    background-image: url("../images/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}

.sort-button {
    display: flex;
}

.sort-title {
    margin: 0;
}

.button-view {
    display: block;
    width: 48px;
    height: 48px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    margin-right: 8px;
}

.button-view--current {
    border: 2px solid #000000;
}

.button-view:last-child {
    margin: 0;
}

.sort-cards {
    background-image: url("../images/icons/cards.svg");
}

.sort-slide {
    background-image: url("../images/icons/slides.svg");
}
  
.sort-list {
    background-image: url("../images/icons/list.svg");
}

/*Catalog cards*/
.catalog__cards {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 1056px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 18px;
}

.card-grid {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 26px;
}

.cards-item {
    width: 340px;
    padding: 20px;
}

.card-img {
    display: block;
}

.card-title {
    margin: 0;
    margin-top: 16px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.card-grid {
    margin-top: 16px;
}

.grid-title,
.grid-price {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.grid-button {
    width: 133px;
    display: block;
    padding: 9px 15px;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    background-color: #756257;
    color: #FFFFFF;
    border-radius: 4px;
}

.grid-favorites {
    width: 141px;
    background-color: #83B3D3;
    text-decoration: none;
}

.grid-favorites--current {
    background-color: #7DB54F;
}

.grid-rate {
    margin: 0;
    margin-left: -18px;
    width: 160px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background-color: #F2F2F2;
    padding: 7px 8px 5px;
    border-radius: 4px;
}

/* Star */
.star {
    width: 23px;
    margin: 0;
    min-height: 37px;
    background-repeat: repeat-x;
    background-position: 0 50%;
    background-size: 23px 17px;
    background-image: url("../images/icons/star.svg");
}
  
.star-two {
    width: 46px;
}
  
.star-three {
    width: 69px;
}
  
.star-four {
    width: 92px;
}
  
.star-five {
    width: 115px;
}

/*Pagination*/
.pagination-button-wrapper {
    margin: 0 auto;
    padding: 30px 220px 30px;
    width: 1056px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.pagination__button {
    width: 620px;
    min-height: 60px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #83B3D3;
    border: none;
    border-radius: 4px;
    padding: 17px 30px;
}

.pagination__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination-item {
    margin-left: 8px;
}

.pagination-link {
    display: block;
    width: 55px;
    height: 55px;
    padding: 14px 13px;
    text-decoration: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    border-radius: 4px;
}

.pagination__link--current {
    color: #333333;
    background-color: #F2F2F2;
}

.pagination__wrapper {
    width: 1056px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

.select-label {
    margin: 16px 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.select__form-field {
    margin-left: 50px;
    width: 160px;
    height: 48px;
    padding: 14px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    appearance: none;
    background-image: url("../images/icons/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
    border: none;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
}

.pagination-select {
    display: flex;
    margin-left: auto;
}

/*Subscribe catalog*/
.subscribe-catalog {
    background-image: none;
    background-color: #FFFFFF;
    color: #333333;
    padding-top: 75px;
    margin-bottom: 43px;
}

.subscribe-catalog-title {
    color: #000000;
    margin-bottom: 45px;
}