@font-face {
    font-family: "PT Sans Narrow";
    font-size: normal;
    font-weight: 400;
    src: url("/sedona/fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans Narrow";
    font-size: normal;
    font-weight: 700;
    src: url("/sedona/fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "PT Sans Narrow";
    color: #000000;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

ol, ul {
    list-style: none;
    padding: 0;
}

h1, h2 {
    margin: 0;
}

.button {
    background-color: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/*Шапка*/
.header-container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.navigation-list {
    margin: 0 282px 0 30px;
    width: 345px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navigation-user {
    margin: 0;
    width: 264px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.navigation-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/*Основное*/
.main-index {
    flex-grow: 1;    
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.main-image {
    background-image: url(/sedona/images/index/index-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    margin: 0 auto;
}

.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 25px;
}

.main-wave {
    width: 1200px;
    display: block;
    margin-bottom: 0;
}

.main-description {
    width: 1200px;
    height: 282px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Все заголовки*/
.all-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

/*Преимущества*/
.advantages-list {
    margin: 0 auto;
    width: 1200px;
}

.advantages-item-wrapper {
    margin: 0;
    width: 1200px;
    display: flex;
}

.advantages-item-block {
    width: 400px;
    height: 384px;
    background-color: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-card {
    width: 1200px;
    display: flex;
}

.advantages-card>.advantages-item {
    width: 400px;
    height: 384px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages-card>:nth-child(odd) {
    background: rgba(131, 179, 211, 0.12);
}

.second {
    background-color: rgba(131, 179, 211, 0.2);
}

/*Поиск гостиницы*/
.search {
    width: 1200px;
    height: 417px;
}

.search-wrapper {
    width: 720px;
    height: 417px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Подписка*/
.subscribe {
    width: 1200px;
    height: 411px;
    background-image: url(/sedona/images/index/subscribe-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #83B3D3;
    color: #FFFFFF;
}

.subscribe-wrapper {
    width: 800px;
    height: 411px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-text,
.subscribe-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

/*Подвал*/
.footer-container {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.footer-social-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.footer-contacts {
    width: 720px;
    text-align: center;
}

.footer-contacts-link {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

/*Гостиницы*/
.filter-wrapper {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.page-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;    
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

/*Карточки гостиниц*/
.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
}